@model Dictionary<string, object>

<div class="bg-danger-primary panel-body">
    <h4>Users</h4>
</div>
<table class="table table-condensed table-bordered">
    @foreach (var m in Model)
    {
        <tr>
            <th>@m.Key</th>
            <th>@m.Value</th>
        </tr>
    }
</table>
